{% extends 'backoffice.html.twig' %}

{% block title %}Index des vidéos{% endblock %}

{% block body %}
    <h1>Index des vidéos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.nom }}</td>
                <td>{{ video.lien }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Create new</a>
{% endblock %}
